.borderstyle{
    border-top:20px solid #F7F7F7;
  }


  .outline{
    background-color: white;
    
  }

  .spacing{
    margin-left: 30px;
    font-size: 1.8em;
    letter-spacing: .15em;
    text-transform: uppercase;
  }

  .alignment{
      margin-left: 80px; 
  }
.imgSize{
    height:112px;
    width:150px;
}
.shopPrice{
    margin-left: 15px;
    height:150px;
    width:300px;
}